{% extends 'base.html' %}
{% block title %}Записи сообщества {{ group }}{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>Записи сообщества  {{ group }}</h1>
  <p>{{ group.description }}</p>
  {% for post in posts %}
  <article>
    <ul>
      <li>
        Автор: <a href="{%url 'posts:profile' post.author.username %}">{{ post.author.get_full_name }}</a>
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    <p>{{ post.text }}</p>
    <a href="{%url 'posts:post_detail' post.id %}">подробная информация {{ post.id }}</a>
  </article>
  {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'includes/paginator.html' %}
</div>
{% endblock %}
